@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f5;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* START : General Styles */
/* .max-width {
  @apply mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-top {
  @apply pt-28;
} */

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-8 outline-none;
}
/* END: General Styles */

/* START: Hero Styles */
/* .hero {
  @apply relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] font-light mt-5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
